.header-content{
    display: flex;
    justify-content: space-between;
}
.company-details{
    display: flex;
    padding: 6px;
}
.company-name{
    font-size: 22px;
    padding-top: 25px;

}
.ant-layout-header{
    line-height: 0px!important;

}
.user-info{
    padding-top:10px;
    padding-right:6px;
    
}