.login-container{
    height:100%;
    width: 100%;
    /* background-image: url("/assets/images/login_bg.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.7; */
    /* z-index: ; */
}
.login-img{
    /* margin: auto; */
    height: 48%;
    width: 43%;
    /* margin-top: 12%;
    margin-left: 20%; */
    position: relative;
    top: 10%;
    left: 30%;
    opacity: 0.9;
    /* z-index: -1; */
    
}
.login-arrow{
    height: 30%;
    width: 8%;
    opacity: 0.8;
    position: relative;
    top: 45%;
    left: 8%;
}
.login-input-container{
    position:relative;
    text-align: center;
bottom: 15%;
left: 3%;
}
.login-button{
    margin-left: 6%;
    width: 15%;
}
.ant-spin-spinning.spinner{
    height: 100vh!important;
    width: 100%!important;
    position: absolute!important;
    padding-top: 20%;
    z-index: 1;
}
.spinning{
    opacity:0.5!important;
   
}